.div1
{
	background-color: #808080;
	width:98%;
	height: 15%;
	position: absolute;
	top: 1%;
	left: 1%;
}

.title
{
	font-family: Verdana;
	font-size: 3.5em;
	color: #e6e6e6;
	position: absolute;
	left: 2%;
}

.div2
{
	background-color: #333333;
	width: 98%;
	height: 5%;
	position: absolute;
	top: 16%;
	left: 1%;
}

ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li
{
	float: left;
	padding: 0.75% 1%;
}

li a
{
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: Verdana;

}

li:hover
{
	background-color: #8c8c8c;
}

.div3
{
	border: solid #000 2px;
	width: 58%;
	height: 36%;
	padding: 1%;
	position: absolute;
	top: 24%;
	left: 2%;
}

h1.subtitle
{
	font-family: Verdana;
	font-size: 2.2em;
}

p
{
	font-family: Verdana;
	font-size: 1.2em;
}

.backbutton
{
	font-size: 1.5em;
	color: #000;
	padding: 6px;
	background-color: #a6a6a6;
}

.rm1
{
	font-size: 1.5em;
	color:#fff;
	padding: 6px 10px;
	background-color: #8c8c8c;
	text-decoration: none;
}

.div4
{
	/*border: solid #000 2px;*/
	width: 27%;
	height: 26%;
	padding: 1%;
	position: absolute;
	top: 67%;
	left: 2%;
}

h2
{
	font-family: Verdana;
	font-size: 1.5em;
}

p.subcontent
{
	font-size: 1.1em;
}

.div5
{
	/*border: solid #000 2px;*/
	width: 27%;
	height: 26%;
	padding: 1%;
	position: absolute;
	top: 67%;
	left: 33%;
}

.div6
{
	/*border: solid #000 2px;*/
	width: 32%;
	height: 16%;
	padding: 1%;
	position: absolute;
	top: 24%;
	left: 64%;
}

.div7
{
	/*border: solid #000 2px;*/
	width: 31%;
	height: 46%;
	padding: 1%;
	position: absolute;
	top: 47%;
	left: 64%;
}

h1.sidebar
{
	font-family: Verdana;
	font-size: 3.5em;
}